<style>
    th {
    background-color: #64717e;
    color: white;
}
</style>
{% extends '_primary_layout.html' %}
{% block title %}Data Download{% endblock %}

{% block content %}

    <h2 style="font-family: Tahoma; padding-top: 50px;">
        <center><b>GFSAD30 Documents, Maps, and Helpful Links</b>
    </h2></center>
    <div class="container">
        <div class="row">
                <h3 style="font-family: Tahoma; padding-top: 10px;"><center>Supporting Documents and Maps</center></h3>
                <table style="width:100%">
                            <tr>
                                <th style="background-color: #64717e">Title</th>
{#                                <th>Authors</th>#}
{#                                <th>Year</th>#}
                                <th style="background-color: #64717e">Document Link</th>
                                </tr>
                    <tr>
                                <td>Field Guide Procedures</td>
                                <td><a href="https://drive.google.com/open?id=0B5WL29-UKBrdeURVOElacjJrM0U">PDF</a></td>
                            </tr>
                    </tr>
                    <tr>
                        <td>Training Data Download Integer Key</td>
                        <td><a href="https://drive.google.com/open?id=0B5WL29-UKBrdb3BZMmhNREh3dlk">PDF</a></td>
                    </tr>
                    <tr>
                                <td>Cropland Classification Instructions</td>
                                <td><a href="https://drive.google.com/file/d/0B5WL29-UKBrdNENWRjRpdmdpdW8/view?usp=sharing">PDF</a></td>
                            </tr>

                             <tr>
                                <td>GFSAD Team Map</td>
                                <td><a href="https://lh3.googleusercontent.com/bteoG87hXK469t7JdNYaa75d3l7Iis5KLOvuZtxLoPeL0trPSK6Q3QtMkMfIrpjJM1Tkj7vpN3SaZ0roc0E_YW14h7NQ-3tF9sx1TrqTOfeludj7KVXCAjW_aO5OODMQdmwnL50O89807nOxBcJG-nT6xPNbgzZfT2bDFK4utK6s4Xmiw4gOZBOKiUce0o0bTyURt_Kc0rjcCl5ioS5tw4nJc9-37YrHe9Refsb7qoNAhp-kw1xXDczaaOrdwoKmstKFHDPdtcDva8NvrqkbAdsZVzQoO9jCbGtbr29Cp59Po4DgrC-XyXKs2MMcy9d95jiBh2GpfVyKz1w2jbPS0VM4YvMbRQM17XUMv8AaiGpa6bK0Eq4Op3nG4g3QqK_5di8JfinSg3YvVSS8F2Q133QmjuyszGos4HoWcinVLrY6b6A4tFixtdexZsTpMQnqK0cHS1ZVDHfkrS3BoaEA9usWplcxAwhQZp6JCt_63Mti99vpVUKx2tZZk2of_p_IlB8HI_8IugdPLZ7xbU5RjsHU7Na7Y-nYzzVVtdJ6FMF5SGF0JVfvTfEQX2X4pbQjybCo-qeKW4OwAPEJF2a_SNbkhhJQKMXyVlVf698nKQ885qCcW0c=w1763-h950-no">Map</a></td>
                            </tr>
                            <tr>
                                <td>Croplands Data Definitions</td>
                                <td><a href="https://d2bol3etyblasz.cloudfront.net/docs/Croplands-definitions-1d.pdf">PDF</a></td>
                            </tr>
                            <tr>
                                <td>Current Achievements and Future Possibilities</td>
                                <td><a href="http://geography.wr.usgs.gov/science/croplands/docs/Teluguntla-thenkabail-xiong-etal-global-croplands-mask.pdf">PDF</a></td>
                            </tr>
                </table>
    </div>
    </div>
    <a name="Links">&nbsp;</a>
        <div class="container">
        <div class="row">
    <h3 style="font-family: Tahoma; padding-top: 10px;"><center>Links to Global Country by Country Cropland Area Statistics: Various Sources</center></h3>
        <table style="width:100%">
            <tr>

                                <th style="background-color: #64717e">Websites</th>
                                </tr>
                            <tr>
                                <td><a href=http://www.nationmaster.com/country-info/stats/Agriculture/Arable-land/Hectares">http://www.nationmaster.com/country-info/stats/Agriculture/Arable-land/Hectares</a></td></tr>
                                <tr><td><a href="http://data.worldbank.org/indicator/AG.LND.AGRI.ZS">http://data.worldbank.org/indicator/AG.LND.AGRI.ZS</a></td></tr>
                                <tr><td><a href="http://data.worldbank.org/indicator/AG.LND.AGRI.K2">http://data.worldbank.org/indicator/AG.LND.AGRI.K2</a></td></tr>
                                <tr><td><a href="http://data.worldbank.org/indicator/AG.LND.CROP.ZS">http://data.worldbank.org/indicator/AG.LND.CROP.ZS</a></td></tr>
                                <tr><td><a href="http://www.indexmundi.com/facts/indicators/AG.LND.CROP.ZS">http://www.indexmundi.com/facts/indicators/AG.LND.CROP.ZS</a></td></tr>
                                <tr><td><a href="https://ourworldindata.org/land-use-in-agriculture/">https://ourworldindata.org/land-use-in-agriculture/</a></td></tr>
                                <tr><td><a href="http://beef2live.com/story-countries-arable-land-world-0-108929">http://beef2live.com/story-countries-arable-land-world-0-108929</a></td></tr>
                                <tr><td><a href="http://www.tradingeconomics.com/kazakhstan/permanent-cropland-percent-of-land-area-wb-data.html">http://www.tradingeconomics.com/kazakhstan/permanent-cropland-percent-of-land-area-wb-data.html</a></td></tr>
                                <tr><td><a href="https://knoema.com/WBWDIGDF2016May/world-development-indicators-wdi-june-2016?tsId=2132770">https://knoema.com/WBWDIGDF2016May/world-development-indicators-wdi-june-2016?tsId=2132770</a></td></tr>
                                <tr><td><a href="http://www.tradingeconomics.com/india/permanent-cropland-percent-of-land-area-wb-data.html">http://www.tradingeconomics.com/india/permanent-cropland-percent-of-land-area-wb-data.html</a></td></tr>
                                <tr><td><a href="http://www.fao.org/faostat/en/#home">http://www.fao.org/faostat/en/#home</a></td></tr>
                                <tr><td><a href="http://www.uni-frankfurt.de/45218031">http://www.uni-frankfurt.de/45218031</a></td></tr>
                                <tr><td><a href="https://www.uni-frankfurt.de/45218023/MIRCA">https://www.uni-frankfurt.de/45218023/MIRCA</a></td></tr>

                            </tr>
            </table>
    </div>
    </div>
    <a name="IrrigatedInfo">&nbsp;</a>
        <div class="container">
        <div class="row">
<h3 style="font-family: Tahoma; padding-top: 10px;"><center>Links to Irrigated Cropland Areas</center></h3>
        <table style="width:100%">
                    <tr>

                                <th style="background-color: #64717e">Websites</th>
                                </tr>
            <tr><td><a href="http://world.bymap.org/IrrigatedLand.html">http://world.bymap.org/IrrigatedLand.html</a></td></tr>
            <tr><td><a href=http://www.photius.com/rankings/geography/irrigated_land_2014_0.html">http://www.photius.com/rankings/geography/irrigated_land_2014_0.html</td></tr>
            <tr><td><a href="http://www.nationmaster.com/country-info/stats/Geography/Irrigated-land">http://www.nationmaster.com/country-info/stats/Geography/Irrigated-land</a></td></tr>
            <tr><td><a href="http://www.fao.org/nr/water/aquastat/irrigationmap/index20.stm">http://www.fao.org/nr/water/aquastat/irrigationmap/index20.stm</a></td></tr>
            <tr><td><a href="http://www.fao.org/nr/water/aquastat/didyouknow/index3.stm">http://www.fao.org/nr/water/aquastat/didyouknow/index3.stm</a></td></tr>
    </table>
    </div>
    </div>
    <a name="StatsInfo">&nbsp;</a>
        <div class="container">
        <div class="row">

    <h3 style="font-family: Tahoma; padding-top: 10px;"><center>World Statistics</center></h3>
        <table style="width:100%">
                    <tr>

                                <th style="background-color: #64717e">Website</th>
                                </tr>
                    <tr><td><a href="http://world.bymap.org/">http://world.bymap.org/</a></td></tr>
    </table>
</div>
    </div>







    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
th {
    background-color: #237c28;
    border-color: #1c6220;
    color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: bottom;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}
{% block scripts_footer %}
{% endblock %}

