{% extends '_primary_layout.html' %}
{% block title %}FAQs{% endblock %}

{% block content %}
    <style>
        a:link { color:#ffffff; text-decoration: none; }
        a:visited { color:#fffff0; text-decoration: none; }
        a:hover { color:#9eb987; text-decoration: none; }
        a:active { color:#7476b4; text-decoration: underline; }

    @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Catamaran, Helvetica, Arial, sans-serif;
    line-height: 1.5em
}

body{
  background: #c1c6cb;
  box-sizing: border-box;
}
section{
  padding: 10% 20%;
}
.animate{
  transition: all .3s;
}

input[name=question]{
    display: none;
}
input[name=question] + label{
    position: relative;
    display: block;
    padding: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background: rgba(246, 246, 246, 1);
    color: #5a9aa8;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3px;
}

.response{
    position: relative;
    background: #64717e;
    color: #64717e;
    padding: 10px 20px;
    -webkit-transform: translate3d(0,-40px, 0) rotate(-.5deg);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    opacity: 0;
    border-radius: 3px;
}

input[name=question]:checked + label{
    background: #F6F6F6;
    color: #5a9aa8;
}
input[name=question]:checked + label + .response{
    opacity: 1;
    visibility: visible;
    padding: 10px 20px;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -webkit-filter: blur(0px);
    margin-bottom: 20px;
    color: white;
}

.fixed-height{
    height: 50px;
    overflow: hidden;
    opacity: 1 !important;
}
    </style>
<p><h1 style="padding-top: 100px;"><b><center>Frequently Asked Questions</b></center></h1></p>
    <section>
<input class="animate" type="radio" name="question" id="q1"/>
<label class="animate" for="q1">Q: Where can I get best information on 30-m global cropland project and products?</label>
<p class="response animate">A: Croplands.org (this website) is best for visualizing the data that the team has produced
    over the past few years.  You may also go to our official USGS website for additional information
    regarding methods, algorithms, workshops, and publications. <br>1.) <a href="/home">https://croplands.org/home</a>
<br>2.) <a href="https://geography.wr.usgs.gov/science/croplands/index.html">https://geography.wr.usgs.gov/science/croplands/index.html</a>
<br>3.) <a href="https://croplands.org/app/map">https://croplands.org/app/map</a> </p>

<input class="animate" type="radio" name="question" id="q2"/>
<label class="animate" for="q2">Q: Where can I download the 30-m Landsat derived global cropland extent product?</label>
<p class="response animate">A: All our data and products are released with proper documentation through LP DAAC.
    Currently, 30-m Landsat derived global cropland extent product is available for visualization and comments at croplands.org.
In the coming months, we will make this data available for download at LP DAAC.The product will be distributed in 10
    degree by 10 degree tiles for the entire world.</p>

<input class="animate" type="radio" name="question" id="q3"/>
<label class="animate" for="q3">Q: If the 30-m global cropland extent product is ready with accuracies, then why is it not
    instantly released?</label>
<p class="response animate">A: It is true that the final version of the 30-m global cropland extent product is ready
    with accuracies. However, we can only release the data through proper peer-reviewed documentation. The peer-review
    process takes time and we are trying to expedite this as much as we can. Please be patient. Our goal is too to
    release it ASAP.</p>

<input class="animate" type="radio" name="question" id="q4"/>
<label class="animate" for="q4">Q: Are there any downloadable data on global croplands?</label>
<p class="response animate">A: Yes! We now have two remote sensing derived cropland products at nominal 1-km resolution
    that you can download from LP DAAC. Direct links to these:
<br> 1.) Nominal 1-km crop dominance product for nominal year 2010:
<br><a href="https://lpdaac.usgs.gov/dataset_discovery/measures/measures_products_table/gfsad1kcd_v001">https://lpdaac.usgs.gov/dataset_discovery/measures/measures_products_table/gfsad1kcd_v001</a>
<br>2.) Nominal 1-km crop mask product for nominal year 2015:
<br><a href="https://lpdaac.usgs.gov/dataset_discovery/measures/measures_products_table/gfsad1kcm_v001">https://lpdaac.usgs.gov/dataset_discovery/measures/measures_products_table/gfsad1kcm_v001</a>
</p>

    <input class="animate" type="radio" name="question" id="q5"/>
<label class="animate" for="q5">Q: What are the applications of the 30-m global cropland product?</label>
<p class="response animate">A: The GFSAD30 has many applications in agriculture, water, and food security studies.
    First, the cropland extent product is the highest resolution cropland product covering the entire world. Second, it
    is used to derive cropland areas of different countries as well as sub-national statistics of cropland areas. Third,
    the cropland extent product is a baseline data for all higher level products such as irrigation versus rainfed,
    cropping intensities, crop types, and cropland fallows. Fourth, croplands consume nearly 80% of all human water use.
    So, an accurate cropland product is crucial for accurate crop water use assessments. Fifth, cropland product will be
    crucial in crop productivity and crop water productivity studies. Sixth, cropland product will help analyze croplands
    as well as cropland fallows year after year, thus helping determine good years, normal years, and drought years of
    crop production. Seventh, cropland product will be used by agencies across the world for food security analysis.
    Above all, GFSAD30 is one of the biggest application of Landsat data ever since the first Landsat was launched and
    put to operation in 1972.</p>

    <input class="animate" type="radio" name="question" id="q6"/>
<label class="animate" for="q6">Q:  Where can I refer to methods and approaches adopted to map the 30-m Landsat derived
    cropland product?</label>
<p class="response animate">A: Please keep visiting:
<a href="https://geography.wr.usgs.gov/science/croplands/pubs2017.html">https://geography.wr.usgs.gov/science/croplands/pubs2017.html</a></p>

    <input class="animate" type="radio" name="question" id="q7"/>
<label class="animate" for="q7">Q: How was this big data processed?</label>
<p class="response animate">A: The individual team members have used Google Earth Engine (GEE) cloud computing platform
    (see: <a href="http://www.sciencedirect.com/science/article/pii/S0034425717302900">this article</a>) as well as the
    NASA NEX supercomputer (additional information here: <a href="https://nex.nasa.gov/nex/">https://nex.nasa.gov/nex/</a>) to process massively large big data
    from Landsat satellite sensors.</p>

    <input class="animate" type="radio" name="question" id="q8"/>
<label class="animate" for="q8">Q: What is the funding source for the project?</label>
<p class="response animate">A: The project funding is provided by the National Aeronautics and Space Administration
    (NASA) grant number: NNH13AV82I through its MEaSUREs (Making Earth System Data Records for Use in Research
    Environments) initiative. The United States Geological Survey (USGS) provided supplemental funding from other direct
    and indirect means through its Land Change Science (LCS), and Land Remote Sensing (LRS) programs as well as its
    Climate and Land Use Change Mission Area.</p>

    <input class="animate" type="radio" name="question" id="q9"/>
<label class="animate" for="q9">Q: What does MEaSUREs and ROSES Mean</label>
<p class="response animate">MEaSUREs: Making Earth System Data Records for Use in Research Environments of NASA
<br>ROSES: Research Opportunities in Earth and Space Science </p>

    <input class="animate" type="radio" name="question" id="q10"/>
<label class="animate" for="q10">Q: Whom do I contact with any questions on the project?  Where do I provide comments
    on the project?</label>
<p class="response animate">A: You may send an email to the Principal Investigator: Dr. Prasad S. Thenkabail, Research Geographer, U. S. Geological Survey
    at: <a href="mailto:pthenkabail@usgs.gov" target="_top">pthenkabail@usgs.gov</a> <br>For questions regarding the
website, please contact the croplands developer at  <a href="mailto:croplands.dev@gmail.com@usgs.gov" target="_top">croplands.dev@gmail.com</a></p>
</section>


    <script>
     $(function(){

        function setHeight(){
            $(".response").each(function(index,element){
                var target = $(element);
                target.removeClass("fixed-height");
                var height = target.innerHeight();
                target.attr("data-height", height)
                      .addClass("fixed-height");
            });
        };

        $("input[name=question]").on("change", function(){
            $("p.response").removeAttr("style");

            var target = $(this).next().next();
            target.height(target.attr("data-height"));
        })

        setHeight();
    });
    </script>

{% endblock %}
