<style>
.bg
{
  width: 100%;
  z-index: 0;

}
</style>

{% extends '_primary_layout.html' %}
{% block title %}Final Maps{% endblock %}
{% block body %}
{% block content %}

    <div class="container">
        <a name="Map1" class="shifted-anchor">&nbsp;</a>
            <h2 style="font-family: Tahoma">
        <center><b><u>Cropland Percent to Total Global Cropland</u></b>
        </h2></center>
            <img class="bg" src="/static/imgs/Map1--cropland-percent-to-total-globalcropland-1d.jpg">
        </div>

    <div class="container">
        <a name="Map2" class="shifted-anchor">&nbsp;</a>
            <h2 style="font-family: Tahoma">
        <center><b><u>Cropland Percent to Country Land Area</u></b>
        </h2></center>
            <img class="bg" src="/static/imgs/Map2-cropland-percent-tocountry-land-area-1h.jpg">
        </div>

    <div class="container">
        <a name="Map3" class="shifted-anchor">&nbsp;</a>
            <h2 style="font-family: Tahoma; padding-top: 50px;">
        <center><b><u>Cropland per Capita</u></b>
        </h2></center>
            <img class="bg" src="/static/imgs/Map3-GFSAD30-cropland-percapita-1d.jpg">
        </div>

    <div class="container">
        <a name="Map4" class="shifted-anchor">&nbsp;</a>
            <h2 style="font-family: Tahoma; padding-top: 50px;">
        <center><b><u>Cropland by Continent</u></b>
        </h2></center>
            <img class="bg" src="/static/imgs/Map4-GFSAD30-percent-cropland-bycontinent-1d.jpg">
        </div>

    <div class="container">
        <a name="Map5" class="shifted-anchor">&nbsp;</a>
            <h2 style="font-family: Tahoma; padding-top: 50px;">
        <center><b><u>Cropland Percent of Land Area by Continent</u></b>
        </h2></center>
            <img class="bg" src="/static/imgs/Map5-GFSAD30-cropland-percent-of-landarea-bycontinent-1d.jpg">
        </div>

    <div class="container">
        <a name="Mosaic" class="shifted-anchor">&nbsp;</a>
            <h2 style="font-family: Tahoma">
        <center><b><u>GFSAD30 Final Mosaic</u></b>
        </h2></center>
            <img class="bg" src="/static/imgs/GFSAD30-final-Mosaic-gaul2015-1e.jpg">
        </div>